<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <title>Login</title>
</head>
<body>
    <div class="auth-card">
        <h2>Welcome Back</h2>
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <button id="loginBtn">Login</button>
        <p>New? <a href="/register.html">Register</a></p>
    </div>
    <script src="../static/js/auth.js"></script>
    <script src="../static/js/login.js"></script>
</body>
</html>